<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318167815755-2sfjs52uq8kipqbneadf16smpjb23mqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318167815755-2sfjs52uq8kipqbneadf16smpjb23mqk</string>
	<key>API_KEY</key>
	<string>AIzaSyDkhagYd4AlLaK1s2nDePutLad0RtTivtc</string>
	<key>GCM_SENDER_ID</key>
	<string>318167815755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatappccec</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappccec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318167815755:ios:ce2dd2ceab0459df</string>
	<key>DATABASE_URL</key>
	<string>https://chatappccec.firebaseio.com</string>
</dict>
</plist>